{% extends 'main.html' %}

{% block content %}

	<div class="container">
	  <div class="row align-self-center">
		<div class="col-sm">
		  <ul class="nav nav-tabs">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#hum-svrhe">Humaniratne svrhe</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#vatrogasci">Vatrogasci</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#hitna-pomoc">Hitna pomoc</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#vojska">Vojska</a>
			  </li>
			</ul>
		
			<div class="tab-content">
				<div class="tab-pane container active" id="hum-svrhe"></div>
				<div class="tab-pane container fade" id="vatrogasci"></div>
				<div class="tab-pane container fade" id="hitna-pomoc">...</div>
				<div class="tab-pane container fade" id="vojska">...</div>
			  </div>

		</div>
		<div class="col-sm">
		  <img src="https://xdn.tf.rs/2020/01/15/google-maps-beograd-670x447.jpg">
		</div>
	  </div>
	  <div class="row align-self-center">
		<div class="col-sm">
		  <button type="button" class="btn btn-info">Generisi optimalan raspored</button>
		</div>
		<div class="col-sm">
		  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	  </div>
	</div>

{% endblock %}